
.containerNav{
    display: flex;
    background-color: rgb(235, 232, 231);
    
}

.containerSecciones {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 150px;
    height: 70px;
   
}

.secciones {
    margin-right: 25px;
    margin-left: 20px;
    list-style: none; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
.secciones:hover {
    box-shadow: 0 0 5px rgba(238, 98, 4, 0.5); 
}


.secciones a {
    text-decoration: none;
    color: rgb(219, 109, 6);
}

.logoDelMuseo img {
    width: 300px;
    height: 100px;
    margin-bottom: -87px;
    margin-top: 0px;
}


.botonNav{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(#fad5d5,#e46008 );
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 33px;
    margin-right: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}    
.botonNav:hover {
    transform: scale(1.1); 
    background-image: linear-gradient(#e46008, #fad5d5); 
}
