body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.activitiesContainer{
    background-image: url('../../imagenes//actividades//firmasXulFondo.png');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}



