body, html {

    height: 100%;
}

.activitiesContainer {
    background-image: url('../../imagenes//actividades//firmasXulFondo.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
}


.contenedorCard {
    position: relative;
    display: flex;
    margin-left: 1.25rem;
    height: 250px;
    max-width: 48rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
    background-color: transparent; 
    margin-bottom: 20px;
}

.contenedorCard  img {
    border-radius: 300px;
    height: 230px;
    width: 230px;
    margin-left: 20px;
    margin-top: 10px;
    
}


