@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.react-calendar .react-calendar__tile {
    background-color: rgba(253, 124, 4, 0.623);
    height: 50px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 0px;
   
}
.react-calendar .react-calendar__navigation__label {
    background-color: rgba(223, 150, 14, 0.144);
    font-size:larger;
    padding: 2px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(218, 108, 18);
    border-radius: 10px;
  
  }

 

  .react-calendar .react-calendar__navigation__label:hover{
    background-color: rgba(226, 91, 13, 0.144);
    color: rgb(85, 81, 77);
  }

.react-calendar__month-view__weekdays__weekday{
    font-size: 18px;
    padding-left:10px;
    color: rgb(7, 7, 7);
}



.react-calendar__navigation__prev-button {
    color: rgb(8, 8, 8);
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: color 0.3s;
  }

  .react-calendar__navigation__prev-button:hover{
    color: rgb(255, 145, 0); 
  }

  .react-calendar__navigation__next-button {
    color: rgb(8, 8, 8);
    font-size: 25px;
    margin-right: 0px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: color 0.3s;
  }
  .react-calendar__navigation__next-button:hover {
    color: rgb(255, 145, 0); 
  }

  .react-calendar__navigation__next2-button{
    font-size: 25px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: color 0.3s;
  }
  .react-calendar__navigation__next2-button:hover{
    color: rgb(255, 145, 0); 
  }

  .react-calendar__navigation__prev2-button{
    font-size: 25px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: color 0.3s;
  }
  .react-calendar__navigation__prev2-button:hover{
    color: rgb(255, 145, 0); 
  }